<% bookCoverClass = locals.large ? 'book-cover-large' : 'book-cover' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>

<% booksByAuthor.forEach(book =>{ %>
    <a href="/books/<%=book.id%>">
        <img height="150" width="200" src="<%= book.coverImagePath %>">
    </a>
<% }) %>